@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    /*Var de cor*/
    --lg:lightgray;
    --c:rgb(165,163,165);
    --ces:rgb(59, 59, 59);
    --tp:rgba(0, 0, 0, 0.4);
    --aes:rgb(13, 0, 194);
    /*Margem*/
    --margem: 0 25px 0 25px;
    --shadow: 2px 2px 6px 1px var(--tp);
}
/*Formatando Geral*/
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::after{
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
}
hr{
    background-color: black;
    height: 2px;
    margin: var(--margem);
}
h1, h2{
    font-family: 'Bebas Neue', cursive;
    padding: 15px 10px 5px 10px;
    margin: var(--margem);
}
p{
    padding: 5px 10px 5px 10px;
}
img{
    padding-top: 15px;
    width: 25px;
}
body{
    background-color: var(--ces);
}
header{
    margin: 10px;
}
main{
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1200px;
    position: relative;
    z-index: 2;
    min-width: 280px;
}
div{
    padding-bottom: 20px;
}
/*Formatando os icons_background*/
section#back{
    user-select: none;
    padding: 0;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
section#back #row{
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 0 18px;
    font-size: 30px;
    z-index: 0;
    
}
section::after{
    overflow-x: hidden;
}
i{
    color: var(--tp);
    padding: 0 5px;
    user-select: none;
    cursor: default;
    transition: 1s;
    
}
i:hover{
    transition: 0s;
    color: var(--aes);
    text-shadow: 0 0 45px var(--aes);
}
/*Formatando o Sobre*/
#sobre .container{
    display: flex;
    align-items: center;
}
.container{
    margin-top: 20px;
}
#sobre a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#sobre a:hover{
    text-decoration: underline;
}
#sobre h1{
    padding-top: 15px;
    display: inline-block;
}
#sobre div#atua{
    display: inline-block;
    position: absolute;
    margin-right: 30px;
    top: 40px;
    right: 10px;
    font-size: small;
}
#sobre img#foto-me{
    padding-top: 5px;
    margin-left: 30px;
    margin-right: 10px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    filter: drop-shadow(0px 0.5px 4px black);
}
#sobre p{
    margin-right: 30px;
}
.informacao{
    background-color: var(--lg);
    border: solid var(--c);
    box-shadow: var(--shadow);
    border-radius: 10px;
}
/*Formatando o knowledge*/
#knowledge{
    /*top - left - bottom - right*/
    border-top: 10px solid var(--ces);
    text-align: center;
}
#knowledge .exc{
    text-align: justify;
}
.makes{
    display: inline-block;
    box-shadow: var(--shadow);
    /*horizontal - vertical - borro - espalhamento*/
    margin: var(--margem);
    margin-top: 15px;
    padding: 5px 10px 10px 10px;
    background-color: var(--c);
    width: 250px;
}
.makes h3{
    padding-bottom: 5px;
    text-decoration:underline double;
}
#knowledge ul{
    padding: 8px 0 5px 0;
    list-style: none;
    background-color: var(--lg);
}
#knowledge p{
    margin: var(--margem);
}
#knowledge a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#knowledge a:hover{
    text-decoration: underline;
}
/*Formatando o Feitos*/
#feitos{
    overflow: hidden;
    height: 461px;
    border-top: 10px solid var(--ces);
}
#feitos *{
    margin: var(--margem);
}

.carousel{
    padding-top: 10px;
}
.slick-track{
    height: 400px;
}
/*Formatando o footer*/
address{
    font-style: italic;

}
footer{
    width: 100%;
    margin-top: 50px;
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
    z-index: 99;
}
#contato{
    padding: 15px;
}

#contato p{
    margin-top: 8px;
    margin-bottom: 5px;
    border-bottom: 1px white solid;
}

#contato a, .logo{
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
}
#contato a:hover, #contato a:hover .logo{
    text-shadow: 0.5px 1px 1px white;
    text-decoration: underline;
    font-size: 17px;
    width: 30px;
}

/*Formatando a flecha*/
.arrow-top img{
    user-select: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right:40px;
    bottom: 40px;
    background: var(--ces);
    padding: 10px;
    border-radius: 30px;
    opacity: 0;
    transition: all .3s;
    z-index: 3;
}
.arrow-top.active img{
    opacity: 1;
    user-select: none;
}
.slick-prev:before, .slick-next:before{
    background-color: var(--ces);
    border-radius: 10px;
}

@media (max-width: 600px) and (min-width: 280px){
    section{
        display: none;
    }
    #sobre div#atua{
        visibility: hidden;
    }
    #sobre .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    #sobre img#foto-me{
        width: 200px;
        height: 200px;
    }
    #sobre .informacao{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
    footer{
        margin-top: 10px;
    }
    .makes{
        width: 65%;
        font-size: 14px;
        margin-top: 25px;
    }
}
