@charset "UTF-8";

img{
    margin-top: 10px;
    width: 30px;
}
img.me{
    width: 300px;
    border-radius: 100%;
}
/*Formatando o footer*/
footer{
    color: aliceblue;
    background-color: black;
    text-align: center;
}
footer div.contato{
    padding: 15px;
}

footer div.contato p{
    margin-top: 8px;
    margin-bottom: 0px;
    border-bottom: 1px white solid;
}
footer div.contato a, footer div.contato img{
    color: aliceblue;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    padding: 0px 10px;
}
footer div.contato a:hover, footer div.contato a:hover img{
    text-shadow: 0.5px 1px 1px rgb(230, 218, 218);
    text-decoration: underline;
    font-size: 17px;
    width: 38px;
}